libraries/
arduino-ide_nightly-20241210_Linux_64bit/
arduino-ide_nightly-20241210_Linux_64bit.zip
arduino-ide_nightly-20241210_Linux_64bit.AppImage
arduino-ide_nightly-20250512_Linux_64bit.AppImage
arduino-ide_2.3.7_Linux_64bit.AppImage
arduino-ide_2.3.7_Linux_64bit.zip
arduino-ide_2.3.7_Linux_64bit
.DS_Store
